<?xml version="1.0"?>
<launch>
  <arg name="width"     default="1920"/>
  <arg name="height"    default="1080"/>

  <node pkg="opengl_ros" type="defisheye"
    name="defisheye" output="screen">
    <param name="width"           value="$(arg width)"/>
    <param name="height"          value="$(arg height)"/>
    <param name="vertex_shader"   value="$(find opengl_ros)/shader/defisheye_shaders/gl3/equirectanguler.vert"/>
    <param name="fragment_shader" value="$(find opengl_ros)/shader/defisheye_shaders/gl3/equirectanguler.frag"/>
    <param name="image_in"       value="/video/image_raw"/>
    <param name="image_out"      value="/camera/image_raw"/>
  </node>

</launch>
